.profile-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 12;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: "Poppins","san-serif";
}

.profile-container form{
    position: relative;
    width: 25%;
    
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2%;
    position: absolute;
    border-radius: 10px;
    top: 50px;
    left: 50%;
    max-height: 80%;
    transform: translateX(-50%);
    z-index: 12;
    align-items: center;
    animation-name: fromTop;
    animation-duration: 1s;
    
}

.profile-container form h3{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.profile-container form img{
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    object-fit:scale-down;
    border: 4px solid black;
     box-shadow: 0px -10px 10px rgba(228, 15, 15, 0.849),
    0px 10px 10px rgba(228, 15, 15, 0.849), inset 0px 10px 10px rgba(228, 15, 15, 0.849),
    inset 0px -10px 10px rgba(228, 15, 15, 0.849);
    margin-bottom: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.profile-container input[type="file"]{
    display: none;
}

.profile-container input{
    width: 100%;
    padding: 7px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    border: 0;
    margin: 10px 0 10px;
    text-shadow: 5px 5px 7px #DA0037;
    transition: all 2s;
    
}

.profile-container input:focus{
    outline: 0;
}

.profile-container form button{
    margin: 20px 0 10px;
    width: 100%;
    background-color: #DA0037;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-family: "Poppins";
    cursor: pointer;
    transition: all 2s;
}
.profile-container button#p-pass-btn{
    display: none;
}

.profile-container input.active{
    border: 4px solid black;
    border-radius: 10px;
}


.profile-container button#p-pass-btn.active{
    display: block;
}

@media (max-width:1300px){

    .profile-container form{
        width: 350px;
        
    }
}

@media (max-width:800px){

    .profile-container form{
        top:120px
    }
}